@media screen and (max-width: 767px) and (min-width: 320px) {
  .logo {
    max-width: 200px;
    margin-top: 20px;
  }

  .lead {
    margin-top: 50px;
  }

  .lead__title {
    max-width: 288px;
    font-family: Inter;
    font-size: 40px;
    font-weight: 900;
    line-height: 44px;
    text-align: center;
  }

  .lead__subtitle {
    margin-top: 60px;
    max-width: 288px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
  }

  .lead__image {
    max-width: 320px;
    margin-top: 40px;
  }

  .intro {
    max-width: 288px;
    margin-top: 44px;
  }

  .intro__title {
    font-family: Inter;
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
    text-align: left;
  }

  .intro__text-phrase {
    margin-top: 9px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
  }

  .intro__text-author {
    margin-top: 0;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: right;
  }

  .intro__text-description {
    margin-top: 0;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.08px;
    text-align: left;
  }

  .image {
    margin-top: 38px;
  }

  .image__item {
    width: 288px;
  }

  .places {
    width: 288px;
    margin: 62px auto;
  }

  .place {
    width: 100%;
    margin-bottom: 16px;
  }

  .place:last-child {
    margin: 0 auto;
  }

  .place__title {
    max-width: 100%;
    margin: 0 0 30px 0;
    font-family: Inter;
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
    text-align: left;
  }

  .place__website {
    max-width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
  }

  .place__url-headding {
    margin: auto 0 8px 0;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    letter-spacing: 0.12em;
    text-align: left;
  }

  .place__artist {
    margin: 0;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
  }

  .place__image {
    max-width: 100%;
  }

  .place__paragraph {
    max-width: 100%;
  }

  .place__paragraph-item {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.08px;
    text-align: left;
    margin: 0 0 7px 0;
  }

  .place__paragraph-item:last-child {
    margin-bottom: 0;
  }

  .place__frame {
    width: 288px;
  }

  .place__frame-text {
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.94px;
    text-align: center;
  }

  .cover {
    padding-top: 46px;
    padding-bottom: 46px;
  }

  .cover__title {
    font-family: Inter;
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
    text-align: center;
  }

  .cover__subtitle {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    margin: 16px auto;
  }

  .footer__copyright {
    padding-top: 64px;
  }
}
