@media screen and (max-width: 1023px) and (min-width: 768px) {
  .lead__subtitle {
    margin-top: 99px;
  }

  .lead__image {
    max-width: 768px;
  }

  .intro {
    margin-top: 55px;
    max-width: 720px;
  }

  .intro__text-phrase {
    margin-top: 15px;
  }

  .image__item {
    width: 352px;
  }

  .image {
    margin-top: 64px;
    max-width: 720px;
  }

  .places {
    max-width: 720px;
    margin: 92px auto;
  }

  .place {
    margin-bottom: 31px;
    display: grid;
    grid-template-columns: 340px auto;
    grid-template-rows: auto 340px auto;
    gap: 48px;
    grid-template-areas:
      "title website"
      "image paragraph"
      "frame paragraph";
  }

  .place:last-child {
    margin: 0 auto;
  }

  .place__title {
    max-width: 100%;
    margin: 0;
    grid-area: title;
    font-family: Inter;
    font-size: 42px;
    font-weight: 900;
    line-height: 46px;
    text-align: left;
  }

  .place__website {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .place__url-headding {
    margin: auto 0 8px 0;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    letter-spacing: 0.12em;
    text-align: left;
  }

  .place__artist {
    margin: 0;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
  }

  .place__image {
    max-width: 100%;
    grid-area: image;
  }

  .place__paragraph {
    margin: 0;
    max-width: 100%;
    grid-area: paragraph;
  }

  .place__paragraph-item {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.08px;
    text-align: left;
    margin: 0 0 14px 0;
  }

  .place__paragraph-item:last-child {
    margin-bottom: 0;
  }

  .place__frame {
    grid-area: frame;
    width: 355px;
  }

  .cover {
    max-width: 768px;
    height: 746px;
  }

  .footer__copyright {
    padding-top: 88px;
  }
}
