.page {
  background-color: #2a2c2f;
  text-align: center;
  color: white;
}

.logo {
  max-width: 100%;
  max-height: 100%;
  margin-top: 34px;
}

.lead {
  max-width: 984px;
  max-height: 983px;
  margin: 90px auto 0 auto;
}

.lead__title {
  max-width: 720px;
  max-height: 200px;
  margin: 0 auto;
  font-family: Inter;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  text-align: center;
}

.lead__subtitle {
  max-width: 720px;
  max-height: 72px;
  margin: 32px auto 0 auto;
  font-family: Inter;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}

.lead__image {
  margin: 64px auto 0 auto;
  max-width: 984px;
  max-height: 615px;
}

.intro {
  margin: 119px auto 0 auto;
  max-width: 1017px;
  max-height: 516px;
}

.intro__title {
  margin: 0 auto;
  max-width: 1017px;
  max-height: 116px;
  font-family: Inter;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  text-align: left;
}

.intro__text-phrase {
  margin: 40px auto 0 0;
  max-width: 722px;
  max-height: 136px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
}

.intro__text-author {
  margin: -24px auto 0 0;
  max-width: 720px;
  max-height: 34px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: right;
}

.intro__text-description {
  margin: 32px auto 0 0;
  max-width: 720px;
  max-height: 182px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 26.08px;
  text-align: left;
}

.image {
  margin: 92px auto 0 auto;
  max-width: 1184px;
}

.image__item {
  margin: auto;
}

.places {
  max-width: 987px;
  margin: 92px auto;
}

.place {
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  gap: 48px;
  grid-template-areas:
    "title website"
    "image paragraph";
}

.place:last-child {
  margin: 0;
}

.place__title {
  margin: 0;
  grid-area: title;
  font-family: Inter;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  text-align: left;
  max-width: 460px;
  max-height: 152px;
}

.place__image {
  grid-area: image;
  display: flex;
  flex-direction: column;
  gap: 48px;
  max-width: 460px;
}

.place__iframe {
  background-color: #0278fe;
}

.place__website {
  max-width: 456px;
  max-height: 45px;
}

.place__url-headding {
  margin: 0 0 8px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  letter-spacing: 0.12em;
  text-align: left;
}

.place__artist {
  margin: 0;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.place__paragraph {
  margin: 0;
  max-width: 484px;
  grid-area: paragraph;
}

.place__paragraph-item {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 29.34px;
  text-align: left;
  margin: 0 0 25px 0;
}

.place__paragraph-item:last-child {
  margin: 0;
}

.cover {
  background-image: url(../images/cover__background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 243px;
  padding-bottom: 241px;
}

.cover__title {
  margin: 0;
  font-family: Inter;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  text-align: center;
}

.cover__subtitle {
  max-width: 280px;
  margin: 76px auto 32px auto;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}

.cover__iframe {
  width: Hug (198px) px;
  height: Hug (48px) px;
  padding: 13px 20px 13px 20px;
  gap: 10px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
  background-color: #0278fe;
}

.footer__copyright {
  padding-top: 92px;
  padding-bottom: 24px;
  margin: 0;
}
